<div class="hero-unit center">
	<h1>Welcome COMP4109</h1>
	<h3>This is fAuth, a two-tiered authentication system requiring users to provide both a password and a token file in order to authenticate into the system</h3>

</div>
<p> This is a project for COMP4109 Fall 2013 at Carleton Univeristy.
	This project is purely for academic purposes, <strong>WE ARE NOT</strong> responsible for any lost information. </p>	