<footer class="footer">
  <small>
    <p> fAuth by Devon Ring and Matt Ouelette </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Check it out on Github!", "https://github.com/dring1/fAuth" , data: { confirm: "Are you sure?" } %></li>
    </ul>
  </nav>
</footer>